@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/dm-sans/300.css';
@import '@fontsource/dm-sans/500.css';
@import '@fontsource/dm-sans/700.css';

/*
@import '@liveblocks/react-ui/styles.css';
@import '@liveblocks/react-lexical/styles.css';

@import '../styles/dark-theme.css';
*/

/* ========================================== TAILWIND STYLES */
html,body{
  overflow-x: hidden;
}

@layer base {
  :root {
    background-image: url('/background.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;;
    color: #fff;
    margin: 0;
    --overlay-opacity: 0.6;
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, var(--overlay-opacity)), 
        rgba(0, 0, 0, var(--overlay-opacity))
      ),
      url('/background.avif');
  }
}

:root {
  --primary: white;
  --secondary: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 27px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
h4 {
  @apply text-base;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-xs;
}